[Unit]
Description=Confluent Platform Apache ZooKeeper
Documentation=http://docs.confluent.io
Requires=network.target
After=network.target

[Service]
User=confluent
Group=confluent
Type=simple
SuccessExitStatus=143
{% if confluent_zookeeper_use_sasl_authentication %}
Environment='KAFKA_OPTS=-Djava.security.auth.login.config=/etc/kafka/zoo-server-jaas.conf'
{% endif %}
ExecStart=/usr/bin/zookeeper-server-start /etc/kafka/zookeeper.properties
ExecStop=/usr/bin/zookeeper-server-stop

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service
