# {{ ansible_managed }}

##
# Copyright 2015 Confluent Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

listeners={{ confluent_rest_listeners }}
id=kafka-rest-server-{{ confluent_rest_id }}
#schema.registry.url={{ confluent_rest_schema_registry_url }}
#zookeeper.connect={{ confluent_kafka_zookeeper_connect }}
bootstrap.servers={{ confluent_kafka_bootstrap_servers }}

client.security.protocol={{ confluent_rest_security_protocol }}

{% if confluent_kafka_ssl_enabled or confluent_kafka_sasl_enabled %}
{% include "templates/security/kafka-rest-sasl-ssl.properties.j2" %}
{% endif %}

#
# Configure interceptor classes for sending consumer and producer metrics to Confluent Control Center
# Make sure that monitoring-interceptors-<version>.jar is on the Java class path
#consumer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor
#producer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor
